li {
  display: inline-block;

}

.nav-link {
  display: block;
  color: #F0E345;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link:hover {
  background-color:#1A5486;
}
