.login_page h1 {
  line-height: 1.2;
  text-align: center;
  font-size: 2.5rem;

  display: block;
  position: absolute;
  width: 100%;
  padding: 20px 0 20px 0;
  z-index: 2;
}

.login_page {
  margin: 0 auto;
  min-width: 100vw;
  text-align: center;
  display: inline-flex;
}